.*

!.editorconfig
!.gitattributes
!.gitignore
!.nvmrc
!.prettierignore
!.prettierrc
!.wakatime-project
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscodeignore
bundled/
node_modules/
dist/
coverage/
