.*

!.editorconfig
!.gitattributes
!.gitignore
!.nvmrc
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscodeignore
!.vscode-test.mjs

node_modules/
dist/
coverage/
out/
